@charset "utf-8"
.container {
  font-family: "Courier New", sans-serif;
  width: 300px;
  margin: 30px auto 0;
  text-align: center;
  font-weight: bold;
}

#target {
  font-size: 32px;
  margin-bottom: 15px;
  background-color: #ccc;
  height: 60px;
  line-height: 60px;
}

#result {
  font-size: 32px;
  margin-bottom: 15px;
  background-color: #ccc;
  height: 60px;
  line-height: 60px;
}

.buttons {

}

#start {
  float: left;
  cursor: pointer;
  font-size: 18px;
  width: 145px;
  background-color: #eee;
  height: 40px;
  line-height: 40px;
  box-shadow: 0 6px 0 #ccc;
}

#stop {
  float: right;
  cursor: pointer;
  font-size: 18px;
  width: 145px;
  background-color: #eee;
  height: 40px;
  line-height: 40px;
  box-shadow: 0 6px 0 #ccc;
}

#result.cool {
  background-color: #fa5858;
  color: #fff;
}

#start.pushed {
  margin-top: 3px;
  box-shadow: 0 3px 0 #ccc;
}

#stop.pushed {
  margin-top: 3px;
  box-shadow: 0 3px 0 #ccc;
}

.standby {
  opacity: 0.5;
}
